.custom_nav {
	background-color: #004f44;
	padding-bottom: 120px !important;
}
.custom_nav .nav-item .nav-link {
	color: aliceblue;
}
.slick-dots{
	bottom: -40px !important;
}
.active {
	font-weight: 500;
	color: aqua !important;
}
.hero_section {
	background-color: #004f44;
	padding-bottom: 90px;
}
.hero_left_content {
	padding-top: 40px;
}
.hero_maintext {
	font-family: "Chillax";
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 72px;
	margin-bottom: 30px;
	/* or 112% */

	letter-spacing: 1.5px;

	color: #eff7f5;
}
.hero_para {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */
	margin-bottom: 30px;
	letter-spacing: 0.3px;

	color: #eff7f5;
}
.hero_btn .btn {
	font-family: "DM Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height */

	letter-spacing: 0.2px;
	padding: 20px 41px;
	color: #004f44;
	background: #eff7f5;
	border-radius: 0px;
}
.hero_btn .btn:hover {
	font-family: "DM Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height */

	letter-spacing: 0.2px;
	padding: 20px 41px;
	color: #eff7f5;
	background: transparent;
	border: 1px solid #eff7f5;
	border-radius: 0px;
}
.hero_link {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.3px;
	margin-left: 43px;
	color: #eff7f5;
	text-decoration: none;
	margin-left: 5%;
    transition: 1s;
}
.hero_link::after {
	content: url("../src/pages/assets/Arrow 1.svg");
	margin-left: 8px;
}
.hero_link:hover {
	color: #eff7f5;
	margin-left: 10%;
}
.hero_banner_img {
	position: relative;
	z-index: 100px;
}
.top_img {
	position: relative;
	z-index: 100;
}
.hero_pattern {
	position: absolute;
	bottom: -31px;
	left: -48px;
	z-index: 50px;
}
.free_shipping_section {
	margin-bottom: 129px;
}
.free_shipping_container {
	position: relative;
}
.free_shipping_content {
	padding: 58px 55px 0px;
	position: absolute;
	top: 0px;
	left: 16px;
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 53px;
	/* identical to box height */

	letter-spacing: 0.3px;

	color: #9c6955;
}
.free_p_text {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.3px;
	margin-bottom: 62px;
	color: #9c6955;
}
.free_bottom_text {
	display: flex;
	flex-direction: column;
}
.free_scontact {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.3px;
	margin: 4px 0px;
	color: #9c6955;
	display: flex;
	text-decoration: none;
}
.free_scontact:hover{
	color: #9c6955;
}
.free_scontact::before {
	content: url("../src/pages/assets/clarity_phone-handset-line.svg");
	margin-right: 13px;
}
.free_semail::before {
	content: url("../src/pages/assets/clarity_email-line.svg");
	margin-right: 13px;
}
.free_semail {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.3px;
	margin: 4px 0px;
	color: #9c6955;
	display: flex;
	text-decoration: none;
}
.free_semail:hover{
	color: #9c6955;
}
.plant_map_section {
	position: relative;
	margin-bottom: 139px;
}
.map_info_box {
	position: absolute;
	min-width: 515px;
	max-height: 231px;
	margin: 28px;
	top: 0;
	background-color: white;
	padding: 28px;
}
.map_info_box .btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	padding: 14px;
	border-radius: 0px;
	/* identical to box height */
	background: #004f44;
	letter-spacing: 1.3px;

	color: #eff7f5;
}
.map_info_box .btn:hover {
	color: #eff7f5;
}
.map_info_box .btn::before {
	content: url("../src/pages/assets/fluent_directions-16-regular.svg");
	margin-right: 8px;
}
.info_head {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	letter-spacing: 0.3px;

	color: #0a1e1b;
	margin-bottom: 8px;
}
.info_body {
	font-family: "Steppe";
	max-width: 243px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */

	letter-spacing: 0.5px;

	color: #666666;

	margin-bottom: 8px;
}
.info_body_bottom {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */

	letter-spacing: 0.5px;

	color: #666666;
}
.info_body_bottom span {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */

	letter-spacing: 0.5px;

	color: #0a1e1b;
}
.search_space {
	margin: 96px 0px;
}
.search_section {
	/* border: 1px solid #004f44; */
	background-color: #f3fffc;
	padding: 85px 0px;
	margin-bottom: 95px;
}
.search_input input {
	/* width: 1010px; */
	min-height: 59px;
}
.search_lbtn {
	display: flex;
	border: 1px solid #004f44;
	margin-right: 15px;
}
.search_rbtn {
	display: flex;
	padding: 6px;
	background-color: #004f44;
	border: 1px solid #004f44;
	margin-left: 15px;
}
.color_space {
	margin-bottom: 67px;
}
.arrivals_head {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	/* identical to box height */

	letter-spacing: 0.3px;

	color: #004f44;
}
.arrivals_head_right a {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	letter-spacing: 0.5px;
	text-decoration: none;
	float: right;
	color: #004f44;
}
.arrivals_head_right a:hover {
	color: #004f44;
}
.card_img_overlay {
	position: relative;
	width: 50%;
	cursor: pointer;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 11px;
	right: 0;
	height: 100%;
	width: 92%;
	opacity: 0;
	transition: 0.5s ease;
	background: rgba(1, 44, 38, 0.71);
}

.card_img_overlay:hover .overlay {
	opacity: 1;
}

.text {
	width: 100%;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.text_hover {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 29px;
	line-height: 35px;
	/* identical to box height */

	letter-spacing: 0.3px;
	display: block;
	color: #ffffff;
}
.text_hover_a a {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.3px;
	text-decoration: none;
	color: #ffffff;
	/* display: flex; */
}
.text_hover_a a::after {
	content: url("../src/pages/assets/Arrow\ 2.svg");
}
.text_hover_a a:hover {
	color: #ffffff;
}
.plant_stand_section {
	background: #f3fffc;
	padding: 80px 0px;
	margin-bottom: 95px;
}
.plant_stands_head h3 {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 54px;
	padding-left: 20px;
	/* identical to box height, or 135% */

	letter-spacing: 0.5px;
	margin-bottom: 30px;
	color: #004f44;
}
.img_hover{
	position: relative;
	top: 0px;
}
.img_hover:hover{
	transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
	top: -4px;
    /* border: 1px solid #cccccc; */
}
.plant_stand_section .slick-prev {
	display: none !important;
}
.plant_stand_section .slick-next {
	right: 4px !important;
}
.plant_stand_section .slick-next:before {
	content: url("../src/pages/assets/Group\ 15.svg") !important;
}
.featured_section {
	margin: 70px 0px 97px 0px;
}
.featured_header {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	/* identical to box height */

	letter-spacing: 0.5px;
	margin-bottom: 48px;
	color: #004f44;
}
.featured_header_link a {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	letter-spacing: 0.5px;
	text-decoration: none;
	color: #004f44;
	float: right;
}

.featured_header_link a:hover {
	color: #004f44;
}
.card_space{
	padding: 0px 30px 0px 0px;
}
.fe_card_img {
	margin-bottom: 20px;
}
.fe_card_title {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height */

	letter-spacing: 0.3px;

	color: #004f44;
	margin-bottom: 28px;
}
.fe_card_select_color {
	display: flex;
	flex-direction: column;
}
.fe_card_select_color_text {
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 8px;
	color: #9ea9a7;
}
.color_circle_1 {
	width: 16px;
	height: 16px;
	border-radius: 100%;
	margin-right: 4px;
	background: #39362e;
}
.color_circle_2 {
	width: 16px;
	height: 16px;
	border-radius: 100%;
	margin-right: 4px;
	background: #f3a195;
}
.color_circle_3 {
	width: 16px;
	height: 16px;
	border-radius: 100%;
	margin-right: 4px;
	background: #efeae6;
}
.color_circle_4 {
	width: 16px;
	height: 16px;
	border-radius: 100%;
	margin-right: 4px;
	background: #c38364;
}
.fe_card_buy_btn button {
	background: #004f44;
	border-radius: 0;
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #ffffff;
	padding: 8px 24px;
}
.fe_card_buy_btn button:hover {
	color: #004f44;
	background: transparent;
	border: 1px solid #004f44;
}
.featured_section .slick-next{
	width: 56px;
	height: 56px;
	border-radius: 100%;
	background-color: white;
}

.featured_section .slick-next:before{
	content: url(../src/pages/assets//clarity_arrow-line.svg);

}
.featured_section .slick-next:hover{
	background-color: white;
}
.bottom_img_overlay{
	width: 100%;
}
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #00ffbb;
}

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}
@media (max-width: 575.98px) { 
	.custom_nav{
		padding-bottom: 10px !important;
	}
	.bottom_img_overlay{
		margin-bottom: 10px;
	}
	.color_space {
		margin-bottom: 10px;
	}
	.arrivals_head{
		font-size: 24px;
	}
	.featured_section .slick-next{
		width: 40px;
		height: 40px;
	}
	.slick-next{
		margin-right: 11px;
	}
	.slick-next{
		right: -4px !important;
	}
	.plant_stand_section .slick-next{
		margin-right: 65px !important;
	}
	.free_shipping_content{
		padding: 0;
	}
	.free_p_text{
		margin-bottom: auto;
	}
	.free_bottom_text{
		margin-top: 10px;
		margin-right: 30px;
display: flex;
flex-direction: row;
	}
 }